<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748957507253-6j80a7cqoe3qp8pkf6tulit4bsii10te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748957507253-6j80a7cqoe3qp8pkf6tulit4bsii10te</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_XMc_gYRaBt2lyxTGYgnXwy3fcgEOnA</string>
	<key>GCM_SENDER_ID</key>
	<string>748957507253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.okane</string>
	<key>PROJECT_ID</key>
	<string>okane-app-c520b</string>
	<key>STORAGE_BUCKET</key>
	<string>okane-app-c520b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748957507253:ios:6698f06fec15c1b29028fc</string>
</dict>
</plist>